[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
coreapi = "*"
drf-nested-routers = "*"
django-filter = "*"
busformat = {git = "https://github.com/aruneko/django-japanese-standard-bus-info-format.git",ref = "master"}

[requires]
python_version = "3.7"
